<nav class="navbar navbar-expand-lg transparent-bg static-nav">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="images\logo-transparent.png" alt="NCC NITK" class="logo-default">
      <img src="images\logo.png" alt="NCC NITK" class="logo-scrolled">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown position-relative">
          <a class="nav-link dropdown-toggle active" href="javascript:void(0)" data-toggle="dropdown" > About NCC </a>
          <ul class="dropdown-menu ml-auto">
            <li>
              <div class="container">
                <div class="row">
                  <div class="col-lg-1 col-md-3 col-sm-12">
                    <a class="dropdown-item active" href="index.html">History</a>
                    <a class="dropdown-item" href="index-creative-agency.html">Aim</a>
                    <a class="dropdown-item" href="index-light.html">Motto</a>
                    <a class="dropdown-item" href="index-video.html">Song</a>
                    <a class="dropdown-item" href="index-modern-agency.html">Flag</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">Alumni </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about.html">Enrollment </a>
        </li>

        <li class="nav-item dropdown position-relative">
          <a class="nav-link dropdown-toggle active" href="javascript:void(0)" data-toggle="dropdown" > Downloads </a>
          <ul class="dropdown-menu ml-auto">
            <li>
              <div class="container">
                <div class="row">
                  <div class="col-lg-1 col-md-3 col-sm-12">
                    <a class="dropdown-item active" href="index.html">Cadet’s Handbook </a>
                    <a class="dropdown-item" href="index-creative-agency.html">Special Subject </a>
                    <a class="dropdown-item" href="index-light.html">Common Subject </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about.html">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="about.html">Contact Us</a>
        </li>

      </ul>
    </div>
  </div>
  <!--side menu open button-->
  <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
    <span></span> <span></span> <span></span>
  </a>
</nav>
<!-- side menu -->
<div class="side-menu opacity-0 gradient-bg">
  <div class="overlay"></div>
  <div class="inner-wrapper">
    <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
    <nav class="side-nav w-100">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="about.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages2">
            About <i class="fas fa-chevron-down"></i>
          </a>
          <div id="sideNavPages2" class="collapse sideNavPages">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="blog-1.html">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-2.html">Aim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-detail.html">Motto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-detail.html">Song</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-detail.html">Flag</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Enrollment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages3">
            Downloads <i class="fas fa-chevron-down"></i>
          </a>
          <div id="sideNavPages3" class="collapse sideNavPages">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="blog-1.html">Cadet’s Handbook </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-2.html">Special Subject </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog-detail.html">Common Subject </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Contact Us</a>
        </li>

      </ul>
    </nav>
    <div class="side-footer w-100">
      <ul class="social-icons-simple white top40">
        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
      </ul>
      <p class="whitecolor">&copy; <span id="year"></span> Made With Love by Flying and Robotics Club, NITK</p>
    </div>
  </div>
</div>