<html>

<body style="background-color:powderblue;">


  <h1>NCC SONG</h1>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/9jJZF493ayg" frameborder="0" allowfullscreen></iframe>
  <p><B>

    Hum Sab Bharatiye Hain, Hum Sab Bharatiye Hain<br>

    Apni Manzil Ek Hai,<br>
    Ha, Ha, Ha, Ek Hai,<br>
    Ho, Ho, Ho, Ho, Ek Hai.<br>
    Hum Sab Bharatiye Hain.<br>

    Kashmir Ki Dharti Rani Hai,<br>
    Sartaj Himalaya Hai,<br>
    Sadiyon Se Hamne Isko Apne Khoon Se Pala Hai<br>
    Desh Ki Raksha Ki Khatir Hum Sab shir Utha Lenge,<br>
    Hum Sab shir Utha Lenge.<br>

    Bhikre-Bhikre Tarey Hain Hum Lekin Jhilmil Ek Hai,<br>
    Ha, Ha, Ha, ha, Ek Hain<br>
    Hum Sab Bharatiye Hain.<br>

    Mandir Gurudware Bhi Hain Yahan<br>
    Aur Masjid Bhi Hai Yahan<br>
    Girja Ka Hai Ghadiyal Kahin<br>
    Mullah ki Kahin Hai Ajaan<br>

    Ek Hi Apna Ram Hai, Ek hi Allah Taala Hai,<br>
    Ek Hi Allah Taala Hai, Rang Birange Deepak Hain Hum,<br>
    Ek Jagmag Ek Hai Ha, Ha, Ek Hai, Ho, Ho, Ek Hai.<br>

    Hum Sab Bharatiye Hain, Hum Sab Bharatiye Hain.<br>
  </B>
  </p>
</body>
</html>